<!DOCTYPE html>
<html>
<head>
  <title>SocialThingamjig</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if logged_in?%>
		<%= current_user.email%>
		<%= button_to "Log Out", session_url, method: :delete %>
	<% end%>
	<% if flash[:errors]%>
		<% flash[:errors].each do |error| %>
			<%= error %>
		<% end %>
	<% end %>

<%= yield %>
<!-- <%= params %> -->

</body>
</html>
